/* style.css */

           
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #0096FF, #005B94);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px; /* Form width */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-group input {
    width: 95%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group input[type="submit"] {
    width: 100%; /* Make button 100% width */
    padding: 10px; /* Adjust padding for better height */
    color: white;
    border: none;
    cursor: pointer;
    background-color: #0096FF;
    display: block;
    font-size: 16px; /* Increase font size for better appearance */
}

.input-group input[type="submit"]:hover {
    background-color: #0095ffd0;
}



