/* style.css */
body { 
	font-family: Arial, sans-serif; 
	margin: 20px; 
    background: linear-gradient(45deg, #1a8ee0c0, #0f79bba4);
} 

.container { 
	max-width: 800px; 
	margin: 0 auto; 
	background-color: #f9f9f9; 
	padding: 20px; 
	border-radius: 8px; 
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
} 

h1 { 
	text-align: center; 
	margin-bottom: 20px; 
} 

form { 
	display: flex; 
	justify-content: center; 
	margin-bottom: 20px; 
} 

input[type="text"], 
input[type="number"] { 
	padding: 10px; 
	border: 1px solid #ccc; 
	border-radius: 4px; 
	outline: none; 
} 

input[type="text"]::placeholder, 
input[type="number"]::placeholder { 
	color: #999; 
} 

button { 
	padding: 10px 20px; 
	background-color: #0096FF; 
	color: white; 
	border: none; 
	border-radius: 4px; 
	cursor: pointer; 
} 

button:hover { 
	background-color: #0095ffd0; 
} 

.expense-table { 
	border: 1px solid #ddd; 
	border-radius: 8px; 
	overflow: hidden; 
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
} 

table { 
	width: 100%; 
	border-collapse: collapse; 
} 

thead th { 
	background-color: #f2f2f2; 
	padding: 10px; 
	text-align: left; 
} 

tbody td { 
	padding: 10px; 
	border-top: 1px solid #ddd; 
} 

.delete-btn { 
	color: red; 
	cursor: pointer; 
} 

.total-amount { 
	padding: 10px; 
	text-align: right; 
	background-color: #f2f2f2; 
}
.c-pointer {
    cursor: pointer;
}

.no-scroll{
    overflow: hidden;
    background-color: #2f3e4e;
}

.fz-2 {
    font-size: 2em;
}
.fz-4 {
    font-size: 4em;
}

.fz-5 {
    font-size: 5em;
}

.h-100 {
    height: 100vh !important;
}

.lobster{
    font-family: lobster, cursive;
}
.raleway{
    font-family: 'Raleway', sans-serif;
}

.ls-5{
    letter-spacing: 3px;
}
.ls-4{
    letter-spacing: 4px;
}

a:hover {
    text-decoration: none;
}


#slide-toggle {
    z-index: 99999;
    position: relative;
    color: #fff;
    border: 2px solid #666;
    padding: 5px 10px;
    top: 20px;
}
#menu-slider.hide {
    left: -100%;
}
#menu-slider {
    height: 100%;
    background-color: #2f3e4e;
    overflow-y: auto;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.4s;
    z-index: 9999;
}
#menu-slider ul {
    margin: 0;
    padding: 0;
    margin-top: 80px;
}
#menu-slider ul li {
    list-style-type: none;
}
#menu-slider ul li a {
    display: inline-block;
    width: 100%;
    padding: 10px;
    color: #fff;
    font-size: 1.5em;
    text-transform: uppercase;
}
#menu-slider ul li a:hover {
    color: #d74703;
}

.overlay {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    z-index: 99;
}
#main-warapper.left {
    left: 20%;
    background-color: #2f3e4e;
}
#main-warapper {
    position: absolute;
    left: 0;
    transition: all 0.4s;
    width: 100%;
    top: 0;
}


#logo {
    font-size: 4em;

}


footer{
    background-color: #272727;
}
footer #copyright {
    background-color: #343434;
}

footer i{
    font-size: 22px;
}